html,
body {
  text-align: center;
  height: 100%;
  width: 100%;
  outline: 0;
  border: 0;
  margin: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:visited,
a:hover,
a:focus,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

.landing-name,
.landing-title {
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.landing-name {
  font-size: 65px;
  letter-spacing: 5px;
}

.landing-name.bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.landing-title {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  font-size: 35px;
}

.section-container {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background: white;
  display: inline-block;
  border-top: 1px solid #eee;
}

.section-container:nth-child(odd) {
  background: #fafafa;
}

.segoe-light-20 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.segoe-light-17 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#canvas {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#front {
  width: 100%;
  position: relative;
  z-index: 1;
}

.social-icons {
  font-size: 30px;
  margin-left: 10px;
  color: #333;
  margin-right: 10px;
  margin-top: 15px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.fa:hover {
  color: #666;
}

.header-container {
  width: 100%;
  height: 80px;
  background: #fafafa;
}

.header {
  width: 100%;
  height: 80px;
  padding-top: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  background: rgba(255, 255, 255, 0.97);
  transition: all ease 0.5s;
  position: absolute;
  z-index: 9999;
  overflow: hidden;
}

.header.shrink {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  padding-top: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.cool {
  transition: all ease 0.3s;
  opacity: 0;
  height: 60px;
  width: 60px;
  border-right: 1px solid #000;
  float: left;
}

.header-link,
.header-link-2 {
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  vertical-align: top;
  height: 60px;
  padding: 18px 5px 24px 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-left: 30px;
  margin-right: 30px;
  transition: all ease 0.3s;
  cursor: pointer;
  float: left;
}

.header-link.shrink {
  margin-left: 25px;
  margin-right: 25px;
}

.header-link-2.shrink {
  margin-left: 80px;
  margin-right: 60px;
}

.header-link:hover {
  color: #eb9a3f;
  height: 48px;
  border-bottom: 2px solid #eb9a3f;
}

a.resume-button {
  padding: 8px 25px 10px 25px;
  line-height: normal;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  background: transparent;
  border-radius: 100px;
  border: 2px solid black;
  transition: all ease 0.3s;
}

a.resume-button:hover {
  border: 2px solid transparent;
  color: white;
  background: #eb9a3f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

.about-me-text {
  width: 700px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #555;
  line-height: 36px;
  text-align: left;
  margin-top: 60px;
  float: right;
  margin-right: 200px;
}

hr.section-header-dark {
  border: 0;
  width: 100px;
  height: 3px;
  background: #eb9a3f;
}

hr.section-header-black {
  border: 0;
  width: 100px;
  height: 1px;
  background: black;
}

.pronounce {
  opacity: 0.5;
  color: #333;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 17px;
  margin: 0 5px 0 5px;
}

.pronounce2 {
  color: white !important;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 12px;
  margin: 0 5px 0 5px;
}

.pronounce:hover {
  opacity: 1;
}

.pronounce-tooltip {
  position: absolute;
  margin-left: 70px;
  margin-top: -100px;
  padding: 5px 25px 5px 25px;
  font-size: 15px;
  background: #eb9a3f;
  border-radius: 25px;
  color: white;
  opacity: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.2s;
}

.pronounce:hover + .pronounce-tooltip {
  margin-top: -90px;
  opacity: 1;
}

.skill-container {
  width: 100%;
  display: flex;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
}

.social-container {
  width: 50%;
  display: inline-flex;
  flex-flow: row wrap;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
}

.skill-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  vertical-align: top;
  text-align: left;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 600px;
}

.project-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 20px;
}

.project-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 16px;
}

.skill-group-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #eb9a3f;
  font-size: 25px;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.skill {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.skill-details {
  width: 100%;
  display: inline-block;
  float: left;
  text-align: left;
}

.skill-title {
  float: top;
  height: 30px;
  padding: 5px 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.handle-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #eb9a3f;
  font-size: 16px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.contact-icons {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #333;
  transition: all ease 0.5s;
  cursor: pointer;
}

.contact-links {
  display: flex;
  align-items: center;
  margin: 20px;
}

.mouse {
  border: 2px solid #333;
  border-radius: 26px;
  position: absolute;
  top: 90%;
  width: 26px;
  left: 50%;
  height: 42px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.mouse::after {
  background-color: #333;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 5px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@-webkit-keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

@keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}
