
.segoeLight20 {
  font-weight: 400;
  font-size: 20px;
}

.segoeLight17 {
  font-weight: 400;
  font-size: 16px;
}

.vercelLogo {
  height: 1em;
  margin-top: 2px;
}

#canvas {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.socialIcons {
  font-size: 30px;
  margin-left: 10px;
  color: #333;
  margin-right: 10px;
  margin-top: 15px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.fa:hover {
  color: #666;
}

a.resumeButton {
  padding: 8px 25px 10px 25px;
  line-height: normal;
  font-size: 20px;
  font-weight: 400;
  color: black;
  background: transparent;
  border-radius: 100px;
  border: 2px solid black;
  transition: all ease 0.3s;
}

a.resumeButton:hover {
  border: 2px solid transparent;
  color: white;
  background: #eb9a3f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  font-weight: 400;
  font-size: 35px;
}

.colorLink {
  font-weight: 500;
  color: #eb9a3f !important;
}

hr.sectionHeaderDark {
  border: 0;
  width: 100px;
  height: 3px;
  background: #eb9a3f;
}

hr.sectionHeaderBlack {
  border: 0;
  width: 100px;
  height: 1px;
  background: black;
}

.pronounce {
  opacity: 0.5;
  color: #333;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 17px;
  margin: 0 5px 0 5px;
}

.pronounce2 {
  color: white !important;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 12px;
  margin: 0 5px 0 5px;
}

.skillContainer {
  width: 100%;
  display: flex;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
}

.socialContainer {
  width: 50%;
  display: inline-flex;
  flex-flow: row wrap;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
}

.skillGroupTitle {
  font-weight: 600;
  color: #eb9a3f;
  font-size: 25px;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.skill {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.skillDetails {
  width: 100%;
  display: inline-block;
  float: left;
  text-align: left;
}

.skillTitle {
  float: top;
  height: 30px;
  padding: 5px 0;
  font-weight: 400;
  font-size: 17px;
}

.contactIcons {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #333;
  transition: all ease 0.5s;
  cursor: pointer;
}

.contactLinks {
  display: flex;
  align-items: center;
  margin: 20px;
}

.mouse {
  border: 2px solid #333;
  border-radius: 26px;
  position: absolute;
  top: 90%;
  width: 26px;
  left: 50%;
  height: 42px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.mouse::after {
  background-color: #333;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 5px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@-webkit-keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

@keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}
