.socialIcons {
  font-size: 30px;
  margin-left: 10px;
  color: #333;
  margin-right: 10px;
  margin-top: 15px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.fa:hover {
  color: #666;
}

a.resumeButton {
  padding: 8px 25px 10px 25px;
  line-height: normal;
  font-size: 20px;
  font-weight: 400;
  color: black;
  background: transparent;
  border-radius: 100px;
  border: 2px solid black;
  transition: all ease 0.3s;
}

a.resumeButton:hover {
  border: 2px solid transparent;
  color: white;
  background: #eb9a3f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.colorLink {
  font-weight: 500;
  color: #eb9a3f !important;
}

hr.sectionHeaderBlack {
  border: 0;
  width: 100px;
  height: 1px;
  background: black;
}

.pronounce {
  opacity: 0.5;
  color: #333;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 17px;
  margin: 0 5px 0 5px;
}

.pronounce2 {
  color: white !important;
  cursor: pointer;
  transition: all ease 0.2s;
  font-size: 12px;
  margin: 0 5px 0 5px;
}

.skillContainer {
  width: 100%;
  display: flex;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
}

.socialContainer {
  width: 50%;
  display: inline-flex;
  flex-flow: row wrap;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
}

.skillGroupTitle {
  font-weight: 600;
  color: #eb9a3f;
  font-size: 25px;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.skill {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.skillDetails {
  width: 100%;
  display: inline-block;
  text-align: left;
}

.skillTitle {
  float: top;
  height: 30px;
  padding: 5px 0;
  font-weight: 400;
  font-size: 17px;
}

.contactIcons {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #333;
  transition: all ease 0.5s;
  cursor: pointer;
}

.contactLinks {
  display: flex;
  align-items: center;
  margin: 20px;
}

@-webkit-keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

@keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}
